<main>
  <form (ngSubmit)="userLogin(contactForm)" #contactForm="ngForm">
    <h1>Anmeldung</h1>
    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </p>
    <div class="input-wrapper-container">
      <div class="input-wrapper">
        <img src="/assets/img/icons/mail.svg" alt="" class="input-icon" />
        <input
          class="login-input"
          type="email"
          [(ngModel)]="logService.loginMail"
          placeholder="beispielname@email.com"
          #mail="ngModel"
          name="contact-mail"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          required
        />
      </div>
      <div class="alert-wrapper">
        <span *ngIf="mail.invalid && mail.touched || userNotFound"
          >* Die E-Mail-Adresse ist leider ungültig.</span
        >
      </div>
      <div class="input-wrapper">
        <img src="/assets/img/icons/lock.svg" alt="" class="input-icon" />
        <input
          class="login-input"
          type="password"
          #password="ngModel"
          name="contact-password"
          [(ngModel)]="logService.loginPassword"
          pattern="^(?!\s*$).+"
          placeholder="Passwort"
          required
        />
      </div>
      <div class="alert-wrapper">
        <span *ngIf="password.invalid && password.touched || wrongPassword"
          >* Passwort ungültig</span
        >
      </div>
      <div class="hidden-button password">
        <span>Passwort vergessen?</span>
      </div>      
    </div>    
    <div class="divide-login">
      <div class="line"></div>
      <span>ODER</span>
      <div class="line"></div>
    </div>
    <div class="input-wrapper google-input" type="button" (click)="googleLogin()">
      <div class="google-wrapper">
        <img src="/assets/img/icons/google.png" alt="google" />
        <span>Anmelden mit Google</span>
      </div>
      <input class="login-input g-input" type="text" />
    </div>
    <div class="buttoncontainer">
      <button class="button-primary" type="submit">Anmelden</button>
      <button class="button-secondary" type="button" (click)="guestLogin()">Gäste-Login</button>
    </div>
  </form>
</main>
