@import "./../../../../styles.scss";
@import "./../../../scss/main-style.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $fullSizeColor;
  z-index: 999;
  @include dFlex(center, flex-start, 0);
}

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
}

.content {
  position: absolute;
  top: 45px;
  right: 50px;
  @include fullSizeCard(350px, fit-content, 30px, 0px, 30px, 30px);
  background-color: white;
}

h2 {
  margin: 0px;
}

.result-box{
  width: 390px;
}

@container main-chat-container (max-width: 560px) {
  .content{
    top: 85px;
    width: 230px;
    padding: 30px;
  }

  h2{
    font-size: 20px;
  }

  .result-box{
    width: 270px;
  }
}

@media(max-width: 700px){
  .content{
    top: 30px;
    right: 35px;
  }
}

@media(max-width: 560px){
  .result-box{
    width: 260px;
  }
}

@media(max-width: 380px){
  .content{
    width: 200px;
  }

  .result-box{
    width: 230px;
  }
}