<div class="container">
  <div class="content-container">
    <div class="content">
      <div class="content-tab">
        <h2>Leute hinzufügen</h2>
        <div class="card-close" (click)="close()"></div>
      </div>
      <div id="input-container" class="input-container">
        <div class="search-bar">
          @if (selectedUsers) {
            @for (chosed of selectedUsers; track chosed) {
              <div class="chosed-user">
                <img
                  class="chosed-profile"
                  src="{{ chosed.profileImage }}"
                  alt=""
                />
                {{ chosed.name }}
                <div
                  class="chosed-close"
                  (click)="removeFromChosen(chosed)"
                ></div>
              </div>
            }
          }
          @if (selectedUsers.length < 1) {
            <input
              type="text"
              id="input-box-channel"
              (keyup)="setUserSearchBar($event)"
              placeholder="Name eingeben"
              autocomplete="off"
            />
          }
        </div>
      </div>
      @if (contents.length > 0) {
        <div id="result-box" class="result-box">
          <ul>
            @for (content of contents; track content) {
              <li (click)="saveToChosen(content)">
                <img
                  class="content-profile"
                  src="{{ content.profileImage }}"
                  alt=""
                />
                {{ content.name }}
              </li>
            }
          </ul>
        </div>
      }
      <div class="button-container">
        <button class="button-primary" (click)="addUser()" type="submit">
          Hinzufügen
        </button>
      </div>
    </div>
  </div>
</div>
