@import './../../../styles.scss';
@import './../../scss/main-style.scss';
@import './../../scss/profile-style.scss';

.profile-user{
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 45px 40px 45px 40px;
    @include dFlex($g: 32px);
    flex-direction: column;
}

.profile-name-section{
    >span{
        width: 100%;
        text-align: start;
        @include font($ff: Nunito700, $fs: 26px, $lh: 30px);
    }
}