@import './../../../styles.scss';
@import './../../scss/main-style.scss';

section{
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 45px 40px 45px 40px;
    @include dFlex($g: 32px);
    flex-direction: column;
}

.profile-head{
    width: 100%;
    @include dFlex($jc: space-between);
    @include font($ff: Nunito700, $fs: 22px, $lh: 28px);

    >div{
        width: 40px;
        height: 40px;
        background-image: url('./../../../assets/img/icons/material-symbols/close.svg');
        object-fit: cover;

        &:hover{
            cursor: pointer;
            background-image: url('./../../../assets/img/icons/material-symbols/close-hover.svg');
        }
    }
}

.profile-pic{
    @include profileImg($w: 200px, $h: 200px);
    margin-inline: 80px;
}

.profile-name-section{
    width: 100%;
    @include dFlex($g: 15px);
    flex-direction: column;

    >span{
        width: 100%;
        text-align: start;
        @include font($ff: Nunito700, $fs: 26px, $lh: 30px);
    }

    .profile-name-section-bottom{
        width: 100%;
        @include dFlex($jc: flex-start, $g: 15px);

        >div{
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }

        >span{
            @include font($ff: NunitoRegular, $fs: 20px, $lh: 27.28px);
        }
    }
}

.profile-edit-button{
    @include font($ff: Nunito600, $fs: 18px, $lh: 24.55px);
    color: $purple3;
    background-color: unset;
    border: none;

    &:hover{
        cursor: pointer;
        color: $purple1;
    }
}

.profile-mail-section{
    width: 100%;
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 15px);

    .mail-title{
        @include font($ff: Nunito700, $fs: 20px, $lh: 27.28px);
    }

    .mail-adress{
        @include font($ff: NunitoRegular, $fs: 18px, $lh: 21.6px);
    }
}