<section class="message-container">
  <header class="chat-header">
    <div class="row">
      <h3>Thread</h3>
    </div>
    <div class="close-icon" (click)="threadService.closeThread()"></div>
  </header>

  <section class="chat-container" #messageContainer>
    @for (message of messageById; track message) {
      <app-message-left
        [getMessage]="message"
        [threadActive]="threadActive"
      ></app-message-left>
    }
    <div class="date-line">
      @if (currentThreads.length > 0) {
        <span class="thread-line"
          >{{ currentThreads.length }}
          {{ utilityService.getAntwort(currentThreads.length) }}
        </span>
      }
      <div class="line"></div>
    </div>
    @for (thread of currentThreads; track thread) {
      @if (thread.sentBy != currentUserId) {
        <app-message-left
          [getMessage]="thread"
          [threadActive]="threadActive"
          [collectionType]="collectionType"
          [emojiActive]="true"
        ></app-message-left>
      } @else if (thread.sentBy == currentUserId) {
        <app-message-right
          [getMessage]="thread"
          [threadActive]="threadActive"
          [collectionType]="collectionType"
        ></app-message-right>
      }
    }
    <div #endOfChat></div>
  </section>
  <app-send-message
    [currentChannelId]="currentChatId"
    [currentUserId]="currentUserId"
    [currentMessageId]="currentMessageId"
    [threadActive]="threadActive"
    componentId="threadmessage"
    storageColl="chats"
  ></app-send-message>
</section>
