<div class="log-in">
    <header>
        <div class="logocontainer">
            <img src="/assets/img/logo/da-bubble-logo.svg" alt="logo">
            <span>DABubble</span>
        </div>
        <div class="header-end">
            <span>Neu bei DABubble?</span>            
            <div class="hidden-button">
                <span (click)="this.logService.currentState = 'create-account'">Konto erstellen</span>
            </div>
        </div>
    </header>
    <app-log-in-card *ngIf="this.logService.currentState === 'log-in'"></app-log-in-card>
    <app-create-account-card *ngIf="this.logService.currentState === 'create-account'"></app-create-account-card>
    <footer>
        <div class="hidden-button">
            <span>Impressum</span>
        </div>
        <div class="hidden-button">
            <span>Datenschutz</span>
        </div>        
    </footer>
</div>
