<div class="log-in">
  <header>
    <div class="logocontainer">
      <img src="/assets/img/logo/da-bubble-logo.svg" alt="logo" />
      <span>DABubble</span>
    </div>
    <div class="header-end">
      <span *ngIf="logService.currentState === 'log-in'"
        >Neu bei DABubble?</span
      >
      <div
        *ngIf="logService.currentState === 'log-in'"
        (click)="logService.currentState = 'create-account'"
        class="hidden-button"
      >
        <span>Konto erstellen</span>
      </div>
    </div>
  </header>
  <app-log-in-card
    *ngIf="logService.currentState === 'log-in'"
  ></app-log-in-card>
  <app-create-account-card
    *ngIf="logService.currentState === 'create-account'"
  ></app-create-account-card>
  <app-create-avatar-card
    *ngIf="logService.currentState === 'create-avatar'"
  ></app-create-avatar-card>
  <app-password-mail-card
    *ngIf="logService.currentState === 'password-mail'"
  ></app-password-mail-card>
  <footer>
    <div class="hidden-button">
      <span>Impressum</span>
    </div>
    <div class="hidden-button">
      <span>Datenschutz</span>
    </div>
  </footer>
  <div *ngIf="logService.userCreated" class="created-account"><h2>Konto erfolgreich erstellt!</h2></div>
</div>
