.container {
  position: relative;
  width: 100vw;
  height: 115px;
}

.content {
  width: 100vw;
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  height: 70px;
  width: 100%;
  max-width: 450px;
  margin-left: 30px;
}

.search-section {
  height: 70px;
  width: 100%;
  max-width: 989px;
  .search-input {
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    width: 100%;
    max-width: 920px;
    border: unset;
    //border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3),
      -4px -4px 10px rgba(255, 255, 255, 0.7);
  }
}

.search-bar input::placeholder {
  font-family: Nunito;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.74px;
}

.search-input:focus {
  outline: none;
}

.search-bar {
  position: relative;
}

.search-icon {
  height: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  &:hover {
    cursor: pointer;
  }
}
