@if (!utilityService.mobile) {
  <div class="container">
    <div class="header-content">
      <section class="logo-section">
        <img src="./assets/img/logo/dabubble-logo&text.svg" alt="loco" />
      </section>
  
      <section class="search-section">
        <div class="searchbar">
          <input
            id="search-input"
            class="search-input"
            type="search"
            placeholder="Devspace durchsuchen"
            (keyup)="setUserSearchBar($event)"
            autocomplete="off"
          />
          <img
            class="search-icon"
            src="./assets/img/icons/material-symbols/search-grey.svg"
            alt="search"
          />
        </div>
        @if (contents.length > 0) {
          <div id="result-box-header" class="result-box">
            <ul>
              @for (content of contents; track contents) {
                @if (content.createdAt) {
                  <li [routerLink]="['channels', content.uid]">
                    <div class="tag-small"></div>
                    &nbsp;
                    {{ content.name }}
                  </li>
                } @else if (content.email) {
                  <li [routerLink]="['chats', content.uid]">
                    <img
                      src="{{ content.profileImage }}"
                      class="profile-img"
                      alt="profile"
                    />
                    &nbsp;{{ content.name }}
                  </li>
                } @else {
                  <li>{{ content.text }}</li>
                }
              }
            </ul>
          </div>
        }
      </section>
  
      <section class="profile-section">
        <span>{{ userService.mainUser.name }}</span>
        <div class="profile-pic">
          <img src="{{ userService.mainUser.profileImage }}" alt="profile pic" />
          <div class="online-status" [class]="userService.mainUser.active ? 'active' : 'absent'"></div>
        </div>
  
        <img
          (click)="openMenu()"
          src="./assets/img/icons/material-symbols/arrow_down.svg"
          alt="arrow down"
        />
      </section>
  
      <div (click)="closeMenu()" [class]="profileService.menuIsOpen ? 'overlay' : 'hidden'">
        <div class="overlay-content">
          <div class="profile-menu" (click)="$event.stopPropagation()">
            <button (click)="openProfile()" class="profile-menu-button">
              Profil
            </button>
            <button
              routerLink=""
              (click)="logoutMainUser()"
              class="profile-menu-button"
            >
              Log out
            </button>
          </div>
          <app-profile-main (click)="$event.stopPropagation()"></app-profile-main>
        </div>
      </div>
    </div>
  </div>
}

@if (utilityService.mobile) {
  <div class="container">
    <div class="header-content">
      <section class="logo-section">
        <img src="./assets/img/logo/dabubble-logo&text.svg" alt="loco" />
      </section>
  
      <section class="profile-section">

        <div class="profile-pic">
          <img (click)="openMenu()" src="{{ userService.mainUser.profileImage }}" alt="profile pic" />
        </div>
  
      </section>
  
      <div (click)="closeMenu()" [class]="profileService.menuIsOpen ? 'overlay' : 'hidden'">
        <div class="overlay-content">
          <div class="profile-menu" (click)="$event.stopPropagation()">
            <button (click)="openProfile()" class="profile-menu-button">
              Profil
            </button>
            <button
              routerLink=""
              (click)="logoutMainUser()"
              class="profile-menu-button"
            >
              Log out
            </button>
          </div>
          <app-profile-main (click)="$event.stopPropagation()"></app-profile-main>
        </div>
      </div>
    </div>
  </div>
}
