@import "./../../../styles.scss";
@import "./../../scss/main-style.scss";
@import "./../../scss/responsive.scss";

.container {
  width: 100vw;
  @include dFlex();
}

.header-content {
  max-width: 1920px;
  width: 100%;
  padding-block: 15px;
  padding-inline: 20px;
  @include dFlex($jc: space-between, $g: 20px);
  box-sizing: border-box;
}

.logo-section {
  max-width: 320px;
  width: 100%;
  padding-left: 25px;
  box-sizing: border-box;
  @include dFlex($jc: flex-start, $g: 16px);

  > img {
    height: 60px;
    width: auto;
  }

  > span {
    @include font($lh: 24px);
  }
}

.search-section {
  height: 50px;
  width: 100%;
  max-width: 689px;
}

.searchbar {
  height: 100%;
  background-color: white;
  padding-right: 45px;
  border-radius: 42px;
  @include dFlex($jc: space-between, $g: 10px);

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background-image: url("./../../../assets/img/icons/material-symbols/search-close.svg");
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }
  }
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 42px;
  padding-left: 45px;
  @include font($ff: NunitoRegular, $fs: 18px, $lh: 32.74px);

  &:focus {
    outline: none;
  }
}

.search-icon {
  &:hover {
    cursor: pointer;
  }
}

.profile-section {
  max-width: 350px;
  width: 100%;
  @include dFlex($jc: flex-end, $g: 12px);

  > span {
    @include font($ff: Nunito700, $fs: 22px, $lh: 22px);
    text-align: end;
  }

  > img {
    &:hover {
      cursor: pointer;
    }
  }
}

.profile-pic {
  position: relative;
  height: 60px;

  > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.online-status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16.67px;
  height: 16.67px;
  border: 2px solid $bgColor;
  border-radius: 50%;
  box-sizing: border-box;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9966;
  background-color: rgba(0, 0, 0, 0.2);
  animation: open 75ms ease-in;
  display: flex;
  justify-content: center;
}

.overlay-content {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  position: relative;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile-menu {
  position: absolute;
  z-index: 9977;
  right: 20px;
  top: 85px;
  background-color: white;
  border-radius: 30px 0 30px 30px;
  padding: 30px;
  @include dFlex($g: 15px);
  flex-direction: column;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 125ms ease-in-out;
}

.profile-menu-button {
  width: 100%;
  border-radius: 100px;
  padding: 10px 70px 10px 70px;
  background-color: white;
  border: none;
  @include font($ff: Nunito600, $fs: 20px, $lh: 24px);

  &:hover {
    cursor: pointer;
    background-color: $bgColor;
    color: $purple3;
  }
}

.result-box {
  z-index: 900;
}
