<div class="container">
  <div class="header-content">
    <section class="logo-section">
      <img src="./assets/img/logo/dabubble-logo&text.svg" alt="loco" />
    </section>

    <section class="search-section">
      <div class="searchbar">
        <input class="search-input" type="search" placeholder="Code learning durchsuchen" />
        <img class="search-icon" src="./assets/img/icons/material-symbols/search-grey.svg" alt="search">
      </div>
    </section>

    <section class="profile-section">
      <span>{{currentUser.name}}</span>
      <div class="profile-pic">
        <img src="{{currentUser.profileImage}}" alt="profile pic">
        <div class="online-status" [class]="currentUser.active ? 'active' : 'absent'"></div>
      </div>

      <img (click)="openMenu()" src="./assets/img/icons/material-symbols/arrow_down.svg" alt="arrow down">
    </section>
  </div>
</div>

<div (click)="closeMenu()" [class]="menuOpen ? 'overlay' : 'overlay-closed'">
  <div class="profile-menu" (click)="$event.stopPropagation()">
    <button (click)="openProfile()" class="profile-menu-button">Profil</button>
    <button routerLink="" (click)="logoutMainUser()" class="profile-menu-button">Log out</button>
  </div>
</div>

<div (click)="closeProfile()" [class]="profileOpen ? 'overlay' : 'overlay-closed'">
  <app-profile-main (click)="$event.stopPropagation()" [profileOpen]="profileOpen" (close)="closeProfile()"></app-profile-main>
</div>