<div class="container">
  <div class="header-content">
    <section class="logo-section">
      <img src="./assets/img/logo/dabubble-logo&text.svg" alt="loco" />
    </section>

    <section class="search-section">
      <div class="searchbar">
        <input
          id="search-input"
          class="search-input"
          type="search"
          placeholder="Code learning durchsuchen"
          (keyup)="setUserSearchBar($event)"
        />
        <img
          class="search-icon"
          src="./assets/img/icons/material-symbols/search-grey.svg"
          alt="search"
        />
      </div>
      @if (contents.length > 0) {
        <div id="result-box" class="result-box">
          <ul>
            @for (content of contents; track contents) {
              @if (content.createdAt) {
                <li [routerLink]="['channels', content.uid]">
                  {{ content.name }}
                  {{ content.uid }}
                </li>
              } @else if (content.email) {
                <li [routerLink]="['chats', content.uid]">
                  {{ content.name }}
                  {{ content.uid }}
                </li>
              } @else {
                <li>{{ content.text }}</li>
              }
            }
          </ul>
        </div>
      }
    </section>

    <section class="profile-section">
      <span>{{ currentUser.name }}</span>
      <div class="profile-pic">
        <img src="{{ currentUser.profileImage }}" alt="profile pic" />
        <div
          class="online-status"
          [class]="currentUser.active ? 'active' : 'absent'"
        ></div>
      </div>

      <img
        (click)="openMenu()"
        src="./assets/img/icons/material-symbols/arrow_down.svg"
        alt="arrow down"
      />
    </section>

    <div (click)="closeMenu()" [class]="menuOpen ? 'overlay' : 'hidden'">
      <div class="overlay-content">
        <div class="profile-menu" (click)="$event.stopPropagation()">
          <button (click)="openProfile()" class="profile-menu-button">
            Profil
          </button>
          <button
            routerLink=""
            (click)="logoutMainUser()"
            class="profile-menu-button"
          >
            Log out
          </button>
        </div>
        <app-profile-main (click)="$event.stopPropagation()"></app-profile-main>
      </div>
    </div>
  </div>
</div>
