<div class="log-in">
  <header>
    <div class="seventy">
      <div class="logocontainer">
        <img
          class="logo"
          src="/assets/img/logo/da-bubble-logo.svg"
          alt="logo"
        />
        <div>
          <p class="typewriter">DABubble</p>
        </div>
      </div>
    </div>
  </header>

  <app-reassign-password-card></app-reassign-password-card>

  <footer>
    <div class="hidden-button">
      <span (click)="logService.currentState = 'impressum'">Impressum</span>
    </div>
    <div class="hidden-button">
      <span (click)="logService.currentState = 'policy'">Datenschutz</span>
    </div>
  </footer>
  <!-- <div *ngIf="logService.userPopup" class="user-popup">
    <h2>{{ logService.userMessage }}</h2>
  </div> -->
</div>
