<header class="chat-header">
  <div class="contact-container">
    <div id="input-container-new-message" class="input-container">
      <div class="search-bar">
        @if (selectedUsers) {
          @for (chosed of selectedUsers; track chosed) {
            <div class="chosed-user">
              <!-- {{ chosed.name }} -->
              <div class="chosed-close"></div>
            </div>
          }
        }
        @if (selectedUsers.length < 1) {
          <input
            type="text"
            id="input-box-new-message"
            (keyup)="setUserSearchBar($event)"
            placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
            autocomplete="off"
          />
        }
      </div>
    </div>
  </div>
</header>
