@import "./../../styles.scss";

@mixin profileImg($w: 70px, $h: 70px) {
  width: $w;
  height: $h;
  border-radius: 50%;
}

@mixin icons($img: 20px, $bgImg: 20px, $bg: white) {
  @include profileImg($img, $img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: $bgImg $bgImg;
  background-color: $bg;
}

@mixin fullSizeCard(
  $w: 300px,
  $h: 300px,
  $brRT: 30px,
  $brLT: 30px,
  $brRB: 30px,
  $brLB: 30px
) {
  width: $w;
  height: $h;
  border-radius: $brRT $brLT $brRB $brLB;
  box-shadow: 0px 6px 10px 0px #00000033;
  padding: 40px;
}

.message-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-block: 32px;
  box-sizing: border-box;
}

.chosed-user {
  @include dFlex(flex-start, center, 0);
  font-family: NunitoRegular, sans-serif;
  width: 90%;
  max-width: fit-content;
  height: 24px;
  padding: 8px 10px;
  margin-right: 8px;
  background-color: #eceefe;
  border-radius: 35px;
}

.search-bar {
  @include dFlex(space-between, center, 0);
  width: 100%;

  .chosed-close {
    @include icons(30px, 20px, $bgColor);
    background-image: url("./../../assets/img/icons/material-symbols/close.svg");
    cursor: pointer;

    &:hover {
      background-image: url("./../../assets/img/icons/material-symbols/close-hover.svg");
    }
  }
}

.card-close {
  @include icons(40px, 40px, white);
  background-image: url("./../../assets/img/icons/material-symbols/close.svg");
  cursor: pointer;
  &:hover {
    background-image: url("./../../assets/img/icons/material-symbols/close-hover.svg");
  }
}

.tag {
  @include icons(30px, 30px, white);
  background-image: url("./../../assets/img/icons/material-symbols/tag.svg");
}

.tag-small {
  @include icons(24px, 24px, white);
  background-image: url("./../../assets/img/icons/material-symbols/tag.svg");
}

.chosed-profile {
  @include profileImg(35px, 35px);
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.content-profile {
  @include profileImg(50px, 50px);
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.result-box {
  position: absolute;
  margin-top: -10px;
  margin-left: 20px;
  width: 400px;
  height: 300px;
  border: 1px solid $lightPurple;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px 0px #00000014;
  overflow-y: scroll;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    border-radius: 35px;
    margin: 16px 16px 16px 16px;
    padding: 8px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #eceefe;
    }
  }
}

.chat-header {
  position: absolute;
  z-index: 888;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 45px 20px 45px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 96px;
  padding-bottom: 115px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.sendMessage-container {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 30px 32px 30px;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sendMessage-component {
  padding: 20px;
  border: 1px solid $lightPurple;
  border-radius: 20px;
}

.online-status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: $onlineGreen;
}

.active {
  background-color: $onlineGreen;
}

.absent {
  background-color: $textGray;
}

.active-text {
  color: $onlineGreen;
}

.absent-text {
  color: $textGray;
}

.content-tab {
  @include dFlex(space-between, center);
}

.input-container {
  @include dFlex(flex-start, center, 0);
  box-sizing: border-box;
  height: 32px;
  border-radius: 40px;
  border: 1px solid $purple2;
  padding: 12px 20px 12px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Nunito" !important;
}

.input-container:hover {
  border: 1px solid $purple1 !important;
}

.input-container:focus {
  border: 1px solid $purple1 !important;
}

input {
  font-size: 18px;
  border: none;
  outline: none;
  width: 100%;
}

input:focus {
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-family: "Nunito" !important;
  border: 1px solid $purple1 !important;
}

textarea {
  font-size: 18px;
  border: none;
  outline: none;
  width: 100%;
}

textarea:focus {
  outline: none;
  border: none;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  font-family: "Nunito" !important;
  border: 1px solid $purple1 !important;
}

.date-line {
  @include dFlex();
  width: 100%;
  padding-inline: 30px;
  box-sizing: border-box;

  .line {
    border: 0.5px solid $lightPurple;
    width: 100%;
  }

  .message-date {
    padding: 5px 15px 5px 15px;
    border: 1px solid $lightPurple;
    border-radius: 30px;
    @include font($ff: NunitoRegular, $fs: 18px, $lh: 24.55px);
  }
}

.blue-text {
  color: $purple3;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.button-container {
  @include dFlex(flex-end, center);
  width: 100%;
  height: fit-content;
}
