@import "./../../styles.scss";

@mixin profileImg($w: 70px, $h: 70px) {
  width: $w;
  height: $h;
  border-radius: 50%;
}

@mixin icons($img: 20px, $bgImg: 20px, $bg: white) {
  @include profileImg($img, $img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: $bgImg $bgImg;
  background-color: $bg;
}

.message-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-block: 32px;
  box-sizing: border-box;
}

.chosed-user {
  @include dFlex(flex-start, center, 0);
  font-family: NunitoRegular, sans-serif;
  width: 90%;
  max-width: fit-content;
  height: 24px;
  padding: 8px 10px;
  margin-right: 8px;
  background-color: #eceefe;
  border-radius: 35px;
}

.search-bar {
  @include dFlex(space-between, center, 0);
  width: 100%;
  .chosed-close {
    @include icons(30px, 20px, $bgColor);
    background-image: url("./../../assets/img/icons/material-symbols/close.svg");
    cursor: pointer;
    &:hover {
      background-image: url("./../../assets/img/icons/material-symbols/close-hover.svg");
    }
  }
}

.chosed-profile {
  @include profileImg(35px, 35px);
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.content-profile {
  @include profileImg(50px, 50px);
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.result-box {
  position: absolute;
  margin-top: -10px;
  margin-left: 20px;
  width: 400px;
  height: 300px;
  border: 1px solid $lightPurple;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px 0px #00000014;
  overflow-y: scroll;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    border-radius: 35px;
    margin: 16px 16px 16px 16px;
    padding: 8px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: #eceefe;
    }
  }
}

.chat-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 45px 20px 45px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.chat-container {
  padding-top: 96px;
}

.sendMessage-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid $lightPurple;
  border-radius: 20px;
  margin: 32px 30px 32px 30px;
}

.active {
  background-color: $onlineGreen;
}

.absent {
  background-color: $textGray;
}

.active-text {
  color: $onlineGreen;
}

.absent-text {
  color: $textGray;
}

.overlay-userProfile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9966;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 125ms ease-in-out;
  @include dFlex();
}

.content-tab {
  @include dFlex(space-between, center);
}

.input-container {
  @include dFlex(flex-start, center, 0);
  width: 100%;
  max-width: 752px;
  height: 32px;
  border-radius: 40px;
  border: 1px solid $purple2;
  padding: 12px 20px 12px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Nunito" !important;
}
.input-container:hover {
  border: 1px solid $purple1 !important;
}
.input-container:focus {
  border: 1px solid $purple1 !important;
}

input {
  font-size: 18px;
  border: none;
  outline: none;
  width: 100%;
}

input:focus {
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-family: "Nunito" !important;
  border: 1px solid $purple1 !important;
}

.date-line{
  @include dFlex();
  width: 100%;
  padding-inline: 30px;
  box-sizing: border-box;

  .line{
      border: 0.5px solid $lightPurple;
      width: 100%;
  }

  .message-date{
      padding: 5px 15px 5px 15px;
      border: 1px solid $lightPurple;
      border-radius: 30px;
      @include font($ff: NunitoRegular, $fs: 18px, $lh: 24.55px);
  }
}

.message{
  width: 100%;
  @include dFlex($ai: flex-start, $g: 30px);
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;

  &:hover{
    background-color: $bgColor;

    .message-text{
      background-color: white;
    }
  }

  .message-info{
    @include dFlex($g: 8px);
    flex-direction: column;
  }

  .message-user{
    @include dFlex($g: 20px);

    .message-user-name{
      @include font($ff: Nunito700, $fs: 18px, $lh: 24.55px);

      &:hover{
        cursor: pointer;
        color: $purple1;
      }
    }
  }

  .message-time{
    @include font($ff: NunitoRegular, $fs: 14px, $lh: 29.1px);
    color: $textGray;
  }

  .message-text{
    background-color: $bgColor;
    padding: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    @include font($ff: NunitoRegular, $fs: 18px, $lh: 24.55px);
  }

  .message-answer{
    @include dFlex($g: 20px);

    .message-answer-button{
      background-color: unset;
      border: none;
      @include font($ff: NunitoRegular, $fs: 18px, $lh: 24.55px);
      color: $purple3;

      &:hover{
        cursor: pointer;
        color: $purple1;
        @include font($ff: Nunito700, $fs: 18px, $lh: 24.55px);
      }
    }
  }
}



