@import './../../styles.scss';
@import './../scss/main-style.scss';

.message {
    position: relative;
    width: 100%;
    @include dFlex($ai: flex-start, $g: 30px);
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;
    margin-top: 24px;

    &:hover {
        background-color: $bgColor;

        .message-bar {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 125ms ease-in-out, transform 125ms ease-in-out;
        }

        .message-text {
            background-color: white;
        }
    }
}

.message-info {
    @include dFlex($g: 8px);
    flex-direction: column;
    width: 100%;
}

.message-user {
    @include dFlex($g: 20px);

    .message-user-name {
        @include font($ff: Nunito700, $fs: 18px, $lh: 24.55px);

        &:hover {
            cursor: pointer;
            color: $purple1;
        }
    }
}

.message-time {
    @include font($ff: NunitoRegular, $fs: 14px, $lh: 29.1px);
    color: $textGray;
}

.message-box {
    @include dFlex($g: 2px);
    flex-direction: column;
}

.message-text {
    background-color: $bgColor;
    padding: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    @include font($ff: NunitoRegular, $fs: 18px, $lh: 24.55px);
    @include dFlex($g: 4px);
    flex-direction: column;
}

.message-image-preview{
    max-height: 200px;
    width: auto;
    object-fit: cover;
}

.reaction-container {
    @include dFlex($g: 10px);
    width: 100%;
    flex-wrap: wrap;
}

.reaction {
    position: relative;
    border: 1px solid $lightPurple;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    @include dFlex($g: 10px);

    &:hover {
        cursor: pointer;
        border: 1px solid $purple2;

        .reaction-hover {
            position: absolute;
            bottom: 32px;
            left: 25px;
            background-color: $purple1;
            padding: 15px 10px 15px 10px;
            border-radius: 30px 30px 30px 0px;
            color: white;
            @include dFlex($g: 5px);
            flex-direction: column;
            width: max-content;
            @include font($fs: 16px, $ff: NunitoRegular);

            >span {
                text-align: center;
            }
        }
    }
}

.reaction-hover {
    display: none;
}

.reaction-hover-emoji {
    font-size: 25px;
}

.message-answer {
    @include dFlex($g: 20px);

    .message-answer-button {
        background-color: unset;
        border: none;
        @include font($ff: NunitoRegular, $fs: 18px, $lh: 24.55px);
        color: $purple3;

        &:hover {
            cursor: pointer;
            color: $purple1;
            @include font($ff: Nunito700, $fs: 18px, $lh: 24.55px);
        }
    }
}

.message-bar {
    position: absolute;
    z-index: 1;
    top: -24px;
    @include dFlex($g: 5px);
    padding: 3px 15px 3px 15px;
    border: 1px solid $lightPurple;
    border-radius: 25px 25px 0px 25px;
    width: fit-content;
    background-color: white;
    opacity: 0;
    transition: opacity 125ms ease-in-out, transform 125ms ease-in-out;
}

.message-icon {
    width: 40px;
    height: 40px;

    &:hover {
        cursor: pointer;
    }
}

.emoji-icon {
    border-radius: 50%;
    @include dFlex();

    &:hover {
        cursor: pointer;
        background-color: $bgColor;
    }
}

.edit-message-button {
    position: absolute;
    top: 20px;
    right: -220px;
    border-radius: 0px 30px 30px 30px;
    padding: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    &:hover {
        >span {
            background-color: $bgColor;
            border-radius: 100px;
            color: $purple3;
        }
    }

    >span {
        padding: 10px 20px 10px 20px;
        @include font($ff: Nunito600, $fs: 18px, $lh: 24px);
    }
}

.reaction-icon {
    border: none;
    background-color: unset;
    background-image: url('./../../assets/img/icons/material-symbols/addreaction.svg');

    &:hover {
        background-image: url('./../../assets/img/icons/material-symbols/addreaction-hover.svg');
    }
}

.thread-icon {
    background-image: url('./../../assets/img/icons/material-symbols/thread.svg');

    &:hover {
        background-image: url('./../../assets/img/icons/material-symbols/thread-hover.svg');
    }
}

.settings-icon {
    background-image: url('./../../assets/img/icons/material-symbols/settings.svg');

    &:hover {
        background-image: url('./../../assets/img/icons/material-symbols/settings-hover.svg');
    }
}

.edit-message-container {
    width: 100%;
    margin-left: 100px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid $lightPurple;
    padding: 20px;
    @include dFlex($g: 16px);
    flex-direction: column;

    &:hover {
        border: 1px solid $purple2;
    }
}

.edit-message-bottom {
    width: 100%;
    @include dFlex($jc: space-between, $ai: flex-start);
}

.edit-reaction-icon {
    border: none;
    background-color: unset;
    background-image: url('./../../assets/img/icons/material-symbols/reaction.svg');

    &:hover {
        background-image: url('./../../assets/img/icons/material-symbols/reaction-hover.svg');
    }
}

.edit-buttons {
    @include dFlex($g: 32px);
}

.input-edit-message {
    width: 100%;
    outline: none;
    border: none;
    color: $textGray;
    @include font($ff: NunitoRegular, $fs: 18px, $lh: 24.55px);
    resize: none;

    &:focus {
        color: black;
    }
}

.emoji-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

::ng-deep .emoji-mart {
    position: absolute !important;
    z-index: 1 !important;
    top: 10px;
}

::ng-deep .emoji-mart-scroll {
    height: 150px;
}

::ng-deep .emoji-mart-anchor-bar {
    background-color: $purple3 !important;
}

::ng-deep .emoji-mart-anchor-selected {
    color: $purple3 !important;
    /* Die Hover-Hintergrundfarbe */
}