@import './../../styles.scss';
@import './../scss/main-style.scss';

.overlay-userProfile {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9966;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 125ms ease-in-out;
    @include dFlex();
}

.profile-head {
    width: 100%;
    @include dFlex($jc: space-between);
    @include font($ff: Nunito700, $fs: 22px, $lh: 28px);

    >div {
        width: 40px;
        height: 40px;
        background-image: url('./../../assets/img/icons/material-symbols/close.svg');
        object-fit: cover;

        &:hover {
            cursor: pointer;
            background-image: url('./../../assets/img/icons/material-symbols/close-hover.svg');
        }
    }
}

.profile-pic {
    @include profileImg($w: 200px, $h: 200px);
    margin-inline: 80px;
}

.profile-name-section {
    width: 100%;
    @include dFlex($g: 15px);
    flex-direction: column;

    .profile-name-section-bottom {
        width: 100%;
        @include dFlex($jc: flex-start, $g: 15px);
        @include font($ff: NunitoRegular, $fs: 20px, $lh: 27.28px);

        >div {
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }

        >span {
            @include font($ff: NunitoRegular, $fs: 20px, $lh: 27.28px);
        }
    }
}

.profile-edit-button {
    @include font($ff: Nunito600, $fs: 18px, $lh: 24.55px);
    color: $purple3;
    background-color: unset;
    border: none;

    &:hover {
        cursor: pointer;
        color: $purple1;
    }
}

.profile-mail-section {
    width: 100%;
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 15px);

    .mail-title {
        @include font($ff: Nunito700, $fs: 20px, $lh: 27.28px);
    }

    .mail-adress {
        @include font($ff: NunitoRegular, $fs: 18px, $lh: 21.6px);
    }
}

@media(max-width: 700px) {
    .profile-user {
        padding: 30px 20px 30px 20px !important;
        gap: 10px !important;
    }

    .profile-pic {
        margin-inline: 30px !important;
        width: 160px !important;
        height: 160px !important;
    }

    .overlay-main {
        left: unset !important;
        right: unset !important;
        width: 100%;
    }

    .profile-main {
        padding: 30px 20px 30px !important;
        border-radius: 30px !important;
        right: unset !important;
        top: unset !important;
        gap: 10px !important;
        margin-inline: 20px;
    }

    .edit-title{
        gap: 4px !important;
    }

    .edit-button-container{
        flex-direction: column;
        gap: 12px !important;
    }

    .profile-head{
        font-size: 18px !important;
    }
}