@import './../../styles.scss';

@container main-chat-container (max-width: 540px) {
    .chat-header {
        flex-direction: column;
        height: 120px !important;
        align-items: start !important;
    }

    .content-left {
        margin-left: -6px;
    }

    .chat-container {
        padding-top: 100px !important;
    }

    .message {
        gap: 12px !important;
        padding-inline: 20px !important;
    }

    .message-profile {
        width: 50px !important;
        height: 50px !important;
    }

    .message-user {
        flex-direction: column;
        gap: 0px !important;
        align-items: flex-start !important;
    }

    .message-answer {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0px !important;
    }

    .message-image-preview {
        max-height: 150px !important;
    }
}

@container thread-container (max-width: 400px) {
    .row{
        flex-direction: column;
        align-items: flex-start !important;
    }

    .blue-text-normal{
        margin-left: 0px !important;
    }

    .message {
        gap: 12px !important;
        padding-inline: 20px !important;
    }

    .message-profile {
        width: 50px !important;
        height: 50px !important;
    }

    .message-user {
        flex-direction: column;
        gap: 0px !important;
        align-items: flex-start !important;
    }

    .message-image-preview {
        max-height: 150px !important;
    }
}

@media(max-width: 920px){
    .logo-section{
        max-width: 280px !important;
    }

    .main-menu{
        max-width: 280px !important;
    }

    .menu-header{
        width: 220px !important;
    }

    .dropdown-title{
        font-size: 18px !important;
    }

    .dropdown-left{
        gap: 8px !important;
    }

    .contact-container, .add-channel-dropdown{
        padding-inline: 33px !important;
    }

    .channel-container{
        margin-left: 20px !important;
    }

    .add-circle{
        width: 26px !important;
        height: 26px !important;
    }
}