@import './../../styles.scss';

@container main-chat-container (max-width: 560px) {
    .chat-header {
        flex-direction: column;
        height: 120px !important;
        align-items: start !important;
    }

    .chat-header-direct {
        height: 90px !important;
    }

    .content-left {
        margin-left: -6px;
    }

    .content-right {
        width: 100%;
        justify-content: space-between !important;
    }

    .edit-message-button{
        right: 35px !important;
        left: -15px;
        padding: 20px 10px 20px 10px !important;
        border-radius: 30px 0 30px 30px !important;

        >span{
            padding: 10px !important;
            font-size: 16px !important;
        }
    }

    .edit-buttons{
        flex-direction: column;
        gap: 4px !important;
    }

    ::ng-deep .emoji-mart {
        width: 250px !important;
    }
}

@container main-chat-container (max-width: 480px) {
    .chat-container {
        padding-top: 100px !important;
        gap: 4px !important;
    }

    .message-date{
        margin-top: 12px;
    }

    .message {
        gap: 12px !important;
        padding-inline: 20px !important;
        padding-block: 8px !important;
    }

    .message-profile {
        width: 50px !important;
        height: 50px !important;
    }

    .message-user {
        flex-direction: column;
        gap: 0px !important;
        align-items: flex-start !important;
    }

    .message-answer {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0px !important;
    }

    .message-image-preview {
        max-height: 150px !important;
    }

    app-send-message {
        padding-inline: 20px !important;
    }
}

@container main-chat-container (max-width: 365px) {
    .edit-message-bottom{
        flex-direction: column;
    }
}

@container thread-container (max-width: 560px) {
    .edit-message-button{
        right: 35px !important;
        left: -25px;
        padding: 20px 10px 20px 10px !important;
        border-radius: 30px 0 30px 30px !important;

        >span{
            padding: 10px !important;
            font-size: 16px !important;
        }
    }

    .edit-buttons{
        flex-direction: column;
        gap: 4px !important;
    }

    ::ng-deep .emoji-mart {
        width: 250px !important;
    }
}

@container thread-container (max-width: 480px) {
    .row {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .blue-text-normal {
        margin-left: 0px !important;
    }

    .message {
        gap: 12px !important;
        padding-inline: 20px !important;
    }

    .message-profile {
        width: 50px !important;
        height: 50px !important;
    }

    .message-user {
        flex-direction: column;
        gap: 0px !important;
        align-items: flex-start !important;
    }

    .message-image-preview {
        max-height: 150px !important;
    }

    app-send-message {
        padding-inline: 20px !important;
    }
}

@container thread-container (max-width: 365px) {
    .edit-message-bottom{
        flex-direction: column;
    }
}

@media(max-width: 1100px) {
    .logo-section {
        max-width: unset !important;
        width: unset !important;
        padding-left: 0px !important;

        >img {
            height: 55px !important;
        }
    }

    .searchbar {
        padding-right: 20px !important;
        gap: 4px !important;

        input[type="search"]::-webkit-search-cancel-button {
            width: 15px !important;
            height: 15px !important;
            background-size: cover;
        }
    }

    .search-input {
        padding-left: 20px !important;
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .search-icon {
        width: 25px;
        height: auto;
    }

    .profile-section {
        max-width: 300px !important;
        width: 100% !important;

        >span {
            font-size: 20px !important;
        }
    }

    .main-menu {
        max-width: 280px !important;
    }

    .menu-header {
        width: 220px !important;
    }

    .dropdown-title {
        font-size: 18px !important;
    }

    .dropdown-left {
        gap: 8px !important;
    }

    .add-channel-dropdown {
        padding-inline: 33px !important;
    }

    .channel-container {
        margin-left: 20px !important;
    }

    .add-circle {
        width: 26px !important;
        height: 26px !important;
    }
}

@media(max-width: 700px) {
    .header-content{
        height: 80px;
        padding: 15px 16px 15px 16px !important;
    }

    .logo-section {
        >img {
            height: 45px !important;
        }
    }

    .profile-pic{
        display: flex;
        align-items: center;
        >img{
            width: 50px !important;
            height: 50px !important;
        }
    }

    .menu-header-logo{
        h2{
            font-size: 20px;
        }
    }

    .chat-header {
        border-top-left-radius: unset !important;
        border-top-right-radius: unset !important;
        height: 60px !important;
        padding: 10px 16px 10px 16px !important;
        flex-direction: unset !important;
        display: flex;
        align-items: center !important;
    }

    .content-right{
        width: unset !important;
        justify-content: end !important;
    }

    .person-add{
        margin-left: 0 !important;
        width: 34px !important;
        height: 34px !important;
        background-size: 22px 22px !important;
    }

    .chat-container{
        padding-top: 45px !important;
    }

    .message-text{
        font-size: 17px !important;
    }

    .navigation-bar {
        display: none !important;
    }

    .main-container {
        padding: 0 !important;
    }

    .main-menu {
        width: 100% !important;
        max-width: unset !important;
        border-radius: unset !important;
        padding: 20px !important;
        height: calc(100vh - 80px) !important;
    }

    .message-container{
        height: calc(100vh - 80px) !important;
    }

    app-send-message{
        border-bottom-left-radius: unset !important;
        border-bottom-right-radius: unset !important;
    }

    .profile-menu{
        top: unset !important;
        bottom: 0;
        left: 0;
        right: 0 !important;
        border-radius: 30px 30px 0 0 !important;
    }

    .user-profile{
        display: none !important;
    }

    main{
        padding: 30px 20px 30px 20px !important;
        margin-inline: 20px;
    }

    .main-pic-container{
        >img{
            width: 160px !important;
            height: 160px !important;
        }
    }

    .avatar-container{
        flex-wrap: wrap;
    }
}