<div class="message-container scrollbar">
  <app-channel-header></app-channel-header>
  <section class="chat-container" #messageContainer>
    @if (currentMessages.length == 0) {
      <div class="no-message-container">
        <div class="no-messages">
          <div class="tag"></div>
          {{ currentChannel.name }}
        </div>
        <div class="no-messages-text">
          Du hast diesen Channel
          {{ utilityService.formatDate(currentChannel.createdAt?.toDate()) }}
          erstellt. Das ist der Anfang des Channels
          <div class="blue-text"># {{ currentChannel.name }}</div>
        </div>
      </div>
    } @else {
      @for (message of currentMessages; track message; let i = $index) {
        @if (utilityService.shouldShowTimestamp(message) || i == 0) {
          <div class="date-line">
            <div class="line"></div>
            <span class="message-date">{{
              utilityService.formatDate(message.sentAt.toDate())
            }}</span>
            <div class="line"></div>
          </div>
        }
        @if (message.sentBy != this.currentUserId) {
          <app-message-left
            [getMessage]="message"
            [threadActive]="threadActive"
            [collectionType]="collectionType"
          ></app-message-left>
        } @else if (message.sentBy == this.currentUserId) {
          <app-message-right
            [getMessage]="message"
            [threadActive]="threadActive"
            [collectionType]="collectionType"
          ></app-message-right>
        }
      }
    }
  </section>

  <app-send-message
    [currentChannelId]="currentChannelId"
    [currentChannel]="currentChannel"
    [currentUserId]="currentUserId"
    componentId="channelmessage"
    storageColl="channels"
  ></app-send-message>
</div>
<app-channel-profile
  id="channel-profile"
  class="hidden"
  [getCurrentChannel]="currentChannel"
></app-channel-profile>
<app-channel-add-user
  id="channel-add-user"
  class="hidden"
  [getCurrentChannel]="currentChannel"
></app-channel-add-user>
<app-channel-edit id="channel-edit" class="hidden"></app-channel-edit>
