<div class="message-container">
  <app-channel-header [getCurrentChannel]="currentChannel"></app-channel-header>

  <section class="chat-container">
    <div class="date-line">
      <div class="line"></div>
      <span class="message-date">heute</span>
      <div class="line"></div>
    </div>

    <app-message-left [userName]="'Saskia Richter'"></app-message-left>
    <app-message-left [userName]="'Noah Braun'"></app-message-left>

    <div class="date-line">
      <div class="line"></div>
      <span class="message-date">heute</span>
      <div class="line"></div>
    </div>

    <app-message-right [userName]="'Frederick Beck'"></app-message-right>
  </section>
  <section class="sendMessage-container">
    <div class="sendMessage-component">
      <form id="message-form" (ngSubmit)="onSubmit(messageForm)" #messageForm="ngForm">
        <textarea name="message" id=""></textarea>
        <button>send</button>
      </form>

    </div>
  </section>
</div>

<app-channel-profile id="channel-profile" class="hidden" [getCurrentChannel]="currentChannel"></app-channel-profile>
<app-channel-add-user id="channel-add-user" class="hidden" [getCurrentChannel]="currentChannel"></app-channel-add-user>
<app-channel-edit id="channel-edit" class="hidden"></app-channel-edit>