@import "../../../styles.scss";

@import "../../../app/page/login/login.component.scss";

button {
  align-self: flex-end;
}

form {
  @include dFlex($jc:space-between);
  flex-direction: column;
  max-width: 580px;
  max-height: 1000px;
  flex-grow: 1;
  > h1 {
    color: #444df2;
    font-weight: 700;
    font-size: 46px;
    margin: 0;
  }
  > p {
    text-align: center;
    font-size: 18px;
    margin: 0;
  }
}

.input-wrapper-container {
  width: 100%;
}

.alert-wrapper {
  align-self: flex-start;
  @include dFlex($jc: flex-start);
  height: 40px;
  >span {
    color: $rosaError;
  }
}

.policy-container {
    @include dFlex();
    align-self: flex-start;
    >label {
        >div {
            display: inline-block;
            padding: 4px 4px;
        }
        >a {
            color: $purple2;
        }
    }
}

.checkbox-container {
    @include dFlex();
    cursor: pointer;
    font-size: 14px;  
    position: relative;
    left: -5px;
    z-index: 0;
    min-width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: transparent;
  
    &:hover {
      background-color: $bgColor;    
      .checkmark {
        border: 2px solid $purple3;
      }
    }
  
    input {
      position: absolute;        
      cursor: pointer;
      height: 28px;
      min-width: 28px;
      appearance: none;
      z-index: 2;
  
      &:checked + .checkmark {      
        &:after {
          display: block;    
        }  
      }    
    }
  
    .checkmark {
      position: relative;    
      height: 18px;
      min-width: 18px;
      border: 2px solid $purple2;
      background-color: transparent;
      transition: border-color 75ms ease-in-out;
      z-index: 1;
  
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 1px;
        width: 3px;
        height: 8px;
        border: solid $purple2;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        z-index: 1;
      }   
    }  
  }
