.tag {
  width: 32px;
  height: 32px;
  background-image: url("./../../../../assets/img/icons/material-symbols/tag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
}
