<div class="chat-header">
  <div class="content-left" (click)="openComponent('channel-edit')">
    <div class="tag"></div>
    @if (currentChannel) {
      <h3>{{ currentChannel.name }}</h3>
    }
    <div class="arrow-drop-down"></div>
  </div>
  <div class="content-right">
    <section class="user-profile" (click)="openComponent('channel-profile')">
      @for (users of channelUsers; track users; let i = $index) {
        @if (i < 3) {
          <img src="{{ users.profileImage }}" />
        }
      }
      @if (channelUsers.length > 3) {
        <div class="plus-users">+{{ channelUsers.length - 3 }}</div>
      }
      <h3 class="user-number">{{ channelUsers.length }}</h3>
    </section>
    <div class="person-add" (click)="openComponent('channel-add-user')"></div>
  </div>
</div>
