@import "./../../../../styles.scss";
@import "./../../../scss/main-style.scss";

.container {
  @include dFlex(space-between, center, 0);

  .container-left {
    @include dFlex(flex-start, center, 0);
    border-radius: 40px;
    cursor: pointer;
    &:hover {
      background-color: $bgColor;
      color: $purple1;
      font-weight: bold;
    }

    &:hover {
      .tag {
        background-image: url("./../../../../assets/img/icons/material-symbols/tag-hover.svg");
      }

      .arrow-drop-down {
        background-image: url("./../../../../assets/img/icons/material-symbols/keyboard-arrow-down-hover.svg");
      }
    }
  }

  .container-right {
    @include dFlex(flex-end, center, 0);
  }
}

.user-profile {
  width: fit-content;
  @include dFlex(flex-start, center, 0);
  border-radius: 40px;
  cursor: pointer;

  &:hover {
    background-color: $bgColor;
    color: $purple1;
    font-weight: bold;
  }

  img {
    @include profileImg(40px, 40px);
    border: 2px solid white;
    margin-left: -6px;
  }

  .user-number {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.arrow-drop-down {
  width: 30px;
  height: 30px;
  background-image: url("./../../../../assets/img/icons/material-symbols/keyboard-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 30px 30px;
}

.tag {
  @include icons(30px, 30px, white);
  background-image: url("./../../../../assets/img/icons/material-symbols/tag.svg");
}

.person-add {
  @include icons(40px, 24px, $bgColor);
  margin-left: 10px;
  cursor: pointer;
  background-image: url("./../../../../assets/img/icons/material-symbols/person-add.svg");
  &:hover {
    background-image: url("./../../../../assets/img/icons/material-symbols/person-add-hover.svg");
  }
}
