<main>
    <form (ngSubmit)="sendMail(contactForm)" #contactForm="ngForm">
      <div
        class="arrow-wrapper"
        (click)="this.logService.currentState = 'log-in'"
      >
        <img src="/assets/img/icons/go-back.svg" alt="go-back" />
      </div>
      <h1>Passwort ändern</h1>      
      <div class="input-wrapper-container">
        <div class="input-wrapper">
            <img src="/assets/img/icons/lock.svg" alt="" class="input-icon" />
            <input
            [(ngModel)]="password"
            class="login-input"
            type="password"
            #password="ngModel"
            name="password"            
            placeholder="Neues Passwort"
            required
            />
        </div>
        <div class="alert-wrapper">            
        </div>
      </div> 
      <div class="input-wrapper-container">
        <div class="input-wrapper">
            <img src="/assets/img/icons/lock.svg" alt="" class="input-icon" />
            <input
            [(ngModel)]="passwordCheck"
            class="login-input"
            type="password"
            #passwordCheck="ngModel"
            name="password-check"            
            placeholder="Neues Passwort bestätigen"
            required
            />
        </div>
        <div class="alert-wrapper">
            <span *ngIf="passwordCheck.invalid && passwordCheck.touched"
            >* Die Passwörter stimmen nicht überein.</span
            >
        </div>
      </div>      
      <button
        class="button-primary"
        [disabled]="contactForm.invalid"        
        type="submit"
      >
        Passwort ändern
      </button>
    </form>
  </main>
