<main>
  <form (ngSubmit)="changePassword(contactForm)" #contactForm="ngForm">
    <div
      class="arrow-wrapper"
      (click)="this.logService.currentState = 'log-in'"
    >
      <img
        src="/assets/img/icons/go-back.svg"
        alt="go-back"
        [routerLink]="['']"
      />
    </div>
    <h1>Passwort zurücksetzen</h1>
    <div class="wide">
      <div class="input-wrapper-container">
        <div class="input-wrapper">
          <img src="/assets/img/icons/lock.svg" alt="" class="input-icon" />
          <input
            [(ngModel)]="password"
            class="login-input"
            type="password"
            name="password"
            placeholder="Neues Passwort"
            pattern="^\S*$"
            (keyup)="onPasswordCheck($event)"
            required
          />
        </div>
        <h1>Passwort ändern</h1>
      </div>

      <div class="wide">
        <div class="input-wrapper-container">
          <div class="input-wrapper">
            <img src="/assets/img/icons/lock.svg" alt="" class="input-icon" />
            <input
              [(ngModel)]="password"
              class="login-input"
              type="password"
              name="password"
              placeholder="Neues Passwort"
              pattern="^\S*$"
              (keyup)="onPasswordCheck($event)"
              required
            />
          </div>
          <div class="alert-wrapper"></div>
        </div>

        <div class="input-wrapper-container">
          <div class="input-wrapper">
            <img src="/assets/img/icons/lock.svg" alt="" class="input-icon" />
            <input
              [(ngModel)]="passwordCheck"
              class="login-input"
              type="password"
              #passwordTest="ngModel"
              name="password-check"
              placeholder="Neues Passwort bestätigen"
              pattern="^\S*$"
              (keyup)="onPasswordCheck($event)"
              required
            />
          </div>

          <div class="alert-wrapper">
            <span
              *ngIf="
                (passwordTest.invalid && passwordTest.touched) ||
                (!passwordMatch && passwordTest.touched)
              "
              >* Die Passwörter sind nicht gültig.</span
            >
          </div>
        </div>
      </div>
    </div>
    <button
      class="button-primary"
      [disabled]="!passwordMatch || passwordTest.invalid"
      type="submit"
    >
      Passwort zurücksetzen
    </button>
  </form>
</main>
