<section class="message-container">
    <header class="chat-header">
        <div class="contact-container" (click)="openProfile()">
            <img src="{{user.profileImage}}" alt="profile pic">
            {{ user.name }}
        </div>
    </header>

    <section class="chat-container">

        <div class="date-line">
            <div class="line"></div>
            <span class="message-date">heute</span>
            <div class="line"></div>
        </div>

        <app-message-left></app-message-left>
    </section>

    <div class="sendMessage-container">
        send message Komponente?
    </div>
</section>