@import './../../../styles.scss';
@import './../../scss/main-style.scss';

.contact-container {
    @include dFlex($g: 15px, $jc: flex-start);
    padding: 4px 15px 4px 4px;
    border-radius: 35px;
    box-sizing: border-box;
    @include font($ff: Nunito700, $fs: 20px, $lh: 27.28px);
    width: fit-content;

    &:hover {
        cursor: pointer;
        background-color: $bgColor;
    }
}

.profile-pic {
    position: relative;
    height: 50px;
    width: 50px;

    >img {
        @include profileImg($w: 50px, $h: 50px);
    }
}

app-profile-user{
    @include dFlex();
}