<section class="message-container scrollbar">
  <header class="chat-header chat-header-direct">
    <div class="contact-container" (click)="openProfile()">
      <div class="profile-pic">
        <img src="{{ otherUser.profileImage }}" alt="profile pic" />
        <div
          class="online-status"
          [class]="otherUser.active ? 'active' : 'absent'"
        ></div>
      </div>
      {{ otherUser.name }}
    </div>
  </header>

  <section class="chat-container" #messageContainer>
    @if (currentMessages.length == 0) {
      <!-- <div class="no-messages">{{currentChannel.name}}</div>
        <p>Du hast diesn Channel {{formatDate(currentChannel.createdAt?.toDate())}} erstellt. Das ist der Anfang des
            Channels
            # {{currentChannel.name}}</p> -->
    } @else {
      @for (message of currentMessages; track message; let i = $index) {
        @if (utilityService.shouldShowTimestamp(message) || i == 0) {
          <div class="date-line">
            <div class="line"></div>
            <span class="message-date">{{
              utilityService.formatDate(message.sentAt.toDate())
            }}</span>
            <div class="line"></div>
          </div>
        }
        @if (message.sentBy != this.currentUserId) {
          <app-message-left
            [getMessage]="message"
            [threadActive]="threadActive"
            [collectionType]="collectionType"
          ></app-message-left>
        } @else if (message.sentBy == this.currentUserId) {
          <app-message-right
            [getMessage]="message"
            [threadActive]="threadActive"
            [collectionType]="collectionType"
          ></app-message-right>
        }
      }
    }
    <div #endOfChat></div>
  </section>
  <app-send-message
    [currentChannelId]="currentChatId"
    [currentUserId]="currentUserId"
    [otherUser]="otherUser.name!"
    componentId="directmessage"
    storageColl="chats"
  ></app-send-message>
</section>
