<section class="message-container">
    <header class="chat-header">
        <div class="contact-container" (click)="openProfile()">
            <div class="profile-pic">
                <img src="{{otherUser.profileImage}}" alt="profile pic">
                <div class="online-status" [class]="otherUser.active ? 'active' : 'absent'"></div>
            </div>
            {{ otherUser.name }}
        </div>
    </header>

    <section class="chat-container">

        <div class="date-line">
            <div class="line"></div>
            <span class="message-date">heute</span>
            <div class="line"></div>
        </div>

        {{currentUserId}}
        {{otherUserId}}
        {{currentChatId}}
        @for(message of currentMessages; track message) {
        {{message.text}}
        }

        <!-- <app-message-left [getMessage]="'Saskia Richter'"></app-message-left>
        <app-message-left [getMessage]="'Noah Braun'"></app-message-left> -->

        <div class="date-line">
            <div class="line"></div>
            <span class="message-date">heute</span>
            <div class="line"></div>
        </div>

        <!-- <app-message-right [userName]="'Frederick Beck'"></app-message-right> -->
    </section>

    <section class="sendMessage-container">
        <div class="sendMessage-component">
            <form id="message-form" (ngSubmit)="onSubmit(messageForm)" #messageForm="ngForm">
                <textarea name="message" id="" [(ngModel)]="sentMessage.text"></textarea>
                <button type="submit">send</button>
            </form>
        </div>
    </section>
</section>