@import './../../../styles.scss';
@import './../../scss/main-style.scss';

section {
    position: absolute;
    top: 85px;
    right: 20px;
    background-color: white;
    border-radius: 30px 0 30px 30px;
    padding: 45px 40px 45px 40px;
    @include dFlex($g: 32px);
    flex-direction: column;
}

.profile-head {
    width: 100%;
    @include dFlex($jc: space-between);
    @include font($ff: Nunito700, $fs: 22px, $lh: 28px);

    >div {
        width: 40px;
        height: 40px;
        background-image: url('./../../../assets/img/icons/material-symbols/close.svg');
        object-fit: cover;

        &:hover {
            cursor: pointer;
            background-image: url('./../../../assets/img/icons/material-symbols/close-hover.svg');
        }
    }
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-inline: 80px;
}

.profile-name-section {
    width: 100%;
    @include dFlex($g: 15px);
    flex-direction: column;

    .profile-name-section-top {
        width: 100%;
        @include dFlex($jc: space-between);

        >span {
            @include font($ff: Nunito700, $fs: 26px, $lh: 30px);
        }
    }

    .profile-name-section-bottom {
        width: 100%;
        @include dFlex($jc: flex-start, $g: 15px);
        @include font($ff: NunitoRegular, $fs: 20px, $lh: 27.28px);

        >div {
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }
    }
}

.profile-edit-button {
    @include font($ff: Nunito600, $fs: 18px, $lh: 24.55px);
    color: $purple3;
    background-color: unset;
    border: none;

    &:hover {
        cursor: pointer;
        color: $purple1;
    }
}

.profile-mail-section {
    width: 100%;
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 15px);

    .mail-title {
        @include font($ff: Nunito700, $fs: 20px, $lh: 27.28px);
    }

    .mail-adress {
        @include font($ff: NunitoRegular, $fs: 18px, $lh: 21.6px);
    }
}

form{
    width: 100%;
    @include dFlex($g: 18px);
    flex-direction: column;
}

.profile-edit-section {
    width: 100%;
    @include dFlex($ai: flex-start, $g: 16px);
    flex-direction: column;
}

.edit-container {
    width: 100%;
    @include dFlex($ai: flex-start, $g: 7px);
    flex-direction: column;
}

.edit-title {
    @include dFlex($g: 20px);
    @include font($ff: Nunito700, $fs: 20px, $lh: 27.28px);

    >img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}

.edit-inputfield {
    width: 100%;
    border: 1px solid $lightPurple;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    outline: none;
}

.email-invalid{
    @include font($ff: NunitoRegular, $fs: 14px, $lh: 14px);
    color: $rosaError;
    opacity: 0;
}

.email-invalid-visible{
    @include font($ff: NunitoRegular, $fs: 14px, $lh: 14px);
    color: $rosaError;
    opacity: 1;
}

.edit-button-container {
    @include dFlex($g: 32px);
}