@if(!editProfile){
<section>
    <div class="profile-head">
        <span>Profil</span>
        <div (click)="onClose()"></div>
    </div>

    <img class="profile-pic" src="./assets/img/profile/man1.svg" alt="profile pic">

    <div class="profile-name-section">
        <div class="profile-name-section-top">
            <span>{{currentUser.name}}</span>
            <button (click)="openEditProfile()" class="profile-edit-button">Bearbeiten</button>
        </div>
        <div class="profile-name-section-bottom">
            <div></div>
            <span>Aktiv</span>
        </div>
    </div>

    <div class="profile-mail-section">
        <img src="./assets/img/icons/material-symbols/mail.svg" alt="email">
        <div>
            <span class="mail-title">E-Mail-Adresse</span><br>
            <span class="mail-adress">{{currentUser.email}}</span>
        </div>
    </div>
</section>
}


@if(editProfile){
<section>
    <div class="profile-head">
        <span>Dein Profil bearbeiten</span>
        <div (click)="closeEditProfile()"></div>
    </div>

    <img class="profile-pic" src="./assets/img/profile/man1.svg" alt="profile pic">

    <div class="profile-edit-section">
        <div class="edit-container">
            <div class="edit-title">
                <img src="./assets/img/icons/material-symbols/account-circle.svg" alt="email">
                <span class="mail-title">Vollständiger Name</span><br>
            </div>
            <input [(ngModel)]="newName" class="edit-inputfield" type="text" placeholder="{{currentUser.name}}">
        </div>

        <div class="edit-container">
            <div class="edit-title">
                <img src="./assets/img/icons/material-symbols/mail.svg" alt="email">
                <span class="mail-title">E-Mail-Adresse</span><br>
            </div>
            <input [(ngModel)]="newMail" class="edit-inputfield" type="email" placeholder="{{currentUser.email}}">
        </div>
    </div>

    <div class="edit-button-container">
        <button class="button-secondary" (click)="closeEditProfile()">Abbrechen</button>
        <button class="button-primary" (click)="safeEditProfile()">Speichern</button>
    </div>

</section>
}