@if (!editMessageIsOpen) {
  <section
    class="message"
    (click)="closeSettings()"
    (click)="closeEmojiPicker()"
  >
    <div class="message-info">
      <div class="message-user">
        <span class="message-time">{{ formattedCurrMsgTime }} Uhr</span>
        <span class="message-user-name" (click)="openProfile()">{{
          messageUser.name
        }}</span>
      </div>
      <div class="message-box">
        <span class="message-text">{{ currentMessage.text }}</span>
        <div
          [class]="
            currentMessage.reactions?.length === 0 ||
            currentMessage.reactions === null
              ? 'hidden'
              : 'reaction-container'
          "
        >
          @for (reaction of currentMessage.reactions; track $index) {
            <div
              class="reaction"
              (click)="
                messageService.handleSingleReaction(
                  reaction,
                  userService.mainUser.uid,
                  currentMessage,
                  currentChannelId,
                  $index
                )
              "
            >
              <div>{{ reaction.emojiNative }}</div>
              <span>{{ reaction.count }}</span>

              <div class="reaction-hover">
                <div class="reaction-hover-emoji">
                  {{ reaction.emojiNative }}
                </div>

                @if (reaction.count == 1) {
                  <span
                    ><b>{{ userService.getUserNameById(reaction.users[0]) }}</b>
                    <br />
                    hat reagiert</span
                  >
                }

                @if (reaction.count == 2) {
                  <span
                    ><b
                      >{{ userService.getUserNameById(reaction.users[0]) }} und
                      <br />
                      {{ userService.getUserNameById(reaction.users[1]) }}</b
                    >
                    <br />
                    haben reagiert</span
                  >
                }

                @if (reaction.count > 2) {
                  <span
                    ><b
                      >{{ userService.getUserNameById(reaction.users[0]) }} und
                      <br />
                      {{ reaction.count - 1 }} Weitere</b
                    >
                    haben reagiert</span
                  >
                }
              </div>
            </div>
          }
          <div class="emoji-container" (click)="$event.stopPropagation()">
            <button
              class="message-icon reaction-icon"
              (click)="emojiPickerRight1 = !emojiPickerRight1"
            ></button>
            <emoji-mart
              class="emoji-mart emoji-mart-message-reaction"
              *ngIf="emojiPickerRight1"
              (emojiSelect)="selectEmoji($event, emojiPickerRight1)"
              title="Choose your emoji"
            ></emoji-mart>
          </div>
        </div>
      </div>

      @if (currentMessage.threadReplies > 0) {
        <div class="message-answer">
          <button
            class="message-answer-button"
            [routerLink]="[
              '/main',
              currentUserId,
              {
                outlets: {
                  thread: [
                    collectionType,
                    currentChannelId,
                    'th',
                    currentMessage.uid
                  ]
                }
              }
            ]"
            (click)="threadService.openThread()"
          >
            {{ currentMessage.threadReplies }}
            {{ utilityService.getAntwort(currentMessage.threadReplies) }}
          </button>
          <span class="message-time"
            >Letzte Antwort {{ formattedThreadTime }} Uhr</span
          >
        </div>
      }
    </div>

    <img src="{{ messageUser.profileImage }}" alt="profile-image" />

    <div class="message-bar">
      <div
        class="message-icon emoji-icon"
        (click)="
          messageService.giveReaction(
            '✅',
            userService.mainUser.uid,
            currentMessage,
            currentChannelId
          )
        "
      >
        <img
          src="./../../../assets/img/icons/material-symbols/emoji-check.svg"
          alt="check emoji"
        />
      </div>
      <div
        class="message-icon emoji-icon"
        (click)="
          messageService.giveReaction(
            '🙌',
            userService.mainUser.uid,
            currentMessage,
            currentChannelId
          )
        "
      >
        <img
          src="./../../../assets/img/icons/material-symbols/emoji-hands.svg"
          alt="hands emoji"
        />
      </div>

      <div class="emoji-container" (click)="$event.stopPropagation()">
        <button
          class="message-icon reaction-icon"
          (click)="emojiPickerRight2 = !emojiPickerRight2"
        ></button>
        <emoji-mart
          class="emoji-mart emoji-mart-message-right"
          *ngIf="emojiPickerRight2"
          (emojiSelect)="selectEmoji($event, emojiPickerRight2)"
          title="Choose your emoji"
        ></emoji-mart>
      </div>

      @if (threadActive == false) {
        <div
          class="message-icon thread-icon"
          [routerLink]="[
            '/main',
            currentUserId,
            {
              outlets: {
                thread: [
                  collectionType,
                  currentChannelId,
                  'th',
                  currentMessage.uid
                ]
              }
            }
          ]"
          (click)="threadService.openThread()"
        ></div>
      }

      <div
        class="message-icon settings-icon"
        (click)="openSettings()"
        (click)="$event.stopPropagation()"
      >
        <div
          [class]="settingIsOpen ? 'edit-message-button' : 'hidden'"
          (click)="editMessage()"
          (click)="$event.stopPropagation()"
        >
          <span>Nachricht bearbeiten</span>
        </div>
      </div>
    </div>
  </section>
}

@if (editMessageIsOpen) {
  <section class="message" (click)="closeSettings()">
    <div class="edit-message-container">
      <textarea
        class="input-edit-message"
        type="text"
        name="textarea"
        [(ngModel)]="currentMessage.text"
      ></textarea>
      <div class="edit-message-bottom">
        <div class="emoji-container">
          <button
            class="message-icon edit-reaction-icon"
            (click)="emojiPickerEdit = !emojiPickerEdit"
          ></button>
          <emoji-mart
            class="emoji-mart emoji-mart-message-right"
            *ngIf="emojiPickerEdit"
            (emojiSelect)="addEmoji($event, currentMessage.text!)"
            title="Choose your emoji"
          ></emoji-mart>
        </div>
        <div class="edit-buttons">
          <button class="button-secondary" (click)="closeEditMessage()">
            Abbrechen
          </button>
          <button class="button-primary">Speichern</button>
        </div>
      </div>
    </div>

    <img src="{{ messageUser.profileImage }}" alt="profile-image" />
  </section>
}
