@import './../../../styles.scss';
@import './../../scss/main-style.scss';
@import './../../scss/message-style.scss';


section{
    justify-content: flex-end !important;

    >img{
        @include profileImg();
    }
}

.message-bar{
    left: 30px;
    transform: translateX(40px);
}

.message-text{
    background-color: $purple2 !important;
    color: white !important;
    align-items: flex-end;
}
.message-info{
    align-items: flex-end !important;
}

.message-box{
    align-items: flex-end;
}

.message-text{
    border-top-left-radius: 30px;
}

.emoji-mart-message-right {
    left: 30px !important;
}

.emoji-mart-message-reaction{
    left: -330px !important;
}

.reaction-container{
    justify-content: flex-end;
}