@if(!editMessageIsOpen){
<section class="message" (click)="closeSettings()">
    <div class="message-info">
        <div class="message-user">
            <span class="message-time">14:25 Uhr</span>
            <span class="message-user-name" (click)="openProfile()">{{userName}}</span>
        </div>
        <span class="message-text">Welche Version ist aktuell von Angular?</span>

        <div class="reaction-container">
        @for(reaction of reactionService.reactions; track $index){
                <div class="reaction" (click)="reactionService.reactionPlus(reaction)">
                    <div>{{reaction.emojiNative}}</div>
                    <span>{{reaction.count}}</span>
                </div>
        }
        <div class="message-icon reaction-icon"></div>
    </div>

    </div>

    <img src="./../../../assets/img/profile/woman2.svg" alt="profile-image">

    <div class="message-bar">
        <div class="message-icon emoji-icon">
            <img src="./../../../assets/img/icons/material-symbols/emoji-check.svg" alt="check emoji">
        </div>
        <div class="message-icon emoji-icon">
            <img src="./../../../assets/img/icons/material-symbols/emoji-hands.svg" alt="hands emoji">
        </div>

        <div class="emoji-container">
            <button class="message-icon reaction-icon" (click)="reactionService.isEmojiPickerVisible = !reactionService.isEmojiPickerVisible"></button>
            <emoji-mart class="emoji-mart emoji-mart-message-right" *ngIf="reactionService.isEmojiPickerVisible"
                title="Choose your emoji" (emojiSelect)="reactionService.addreaction($event)"></emoji-mart>
        </div>

        <div class="message-icon thread-icon" (click)="channelService.openThread()"></div>
        <div class="message-icon settings-icon" (click)="openSettings()" (click)="$event.stopPropagation()">
            <div [class]="settingIsOpen? 'edit-message-button' : 'hidden'" (click)="editMessage()"
                (click)="$event.stopPropagation()">
                <span>Nachricht bearbeiten</span>
            </div>
        </div>
    </div>
</section>
}

@if(editMessageIsOpen){
<section class="message" (click)="closeSettings()">
    <div class="edit-message-container">
        <textarea class="input-edit-message" type="text" name="textarea" [(ngModel)]="reactionService.editTextArea"></textarea>
        <div class="edit-message-bottom">
            <div class="emoji-container">
                <button class="message-icon edit-reaction-icon"
                    (click)="reactionService.isEmojiPickerVisible = !reactionService.isEmojiPickerVisible"></button>
                <emoji-mart class="emoji-mart emoji-mart-message-right" *ngIf="reactionService.isEmojiPickerVisible"
                    (emojiSelect)="reactionService.addEmoji($event)" title="Choose your emoji"></emoji-mart>
            </div>
            <div class="edit-buttons">
                <button class="button-secondary" (click)="closeEditMessage()">Abbrechen</button>
                <button class="button-primary">Speichern</button>
            </div>
        </div>
    </div>

    <img src="./../../../assets/img/profile/woman2.svg" alt="profile-image">
</section>
}