<section class="message-container">
    <header class="chat-header">
        <div>
            <h3>Thread</h3>
            <span># Entwicklerteam</span>
        </div>
        <div class="close-icon" (click)="threadService.closeThread()"></div>
    </header>

    <section class="chat-container">
        <h2>Chat</h2>
        {{this.currentUserId}}
        {{this.currentChannelId}}
        {{this.currentMessageId}}
        @for(thread of currentThreads; track thread) {
        {{thread.text}}
        }
    </section>

    <section class="sendMessage-container">
        <div class="sendMessage-component">
            <form id="message-form" (ngSubmit)="onSubmitting(messageForm)" #messageForm="ngForm">
                <textarea name="message" id="" [(ngModel)]="sentThread.text"></textarea>
                <button type="submit">send</button>
            </form>
        </div>
    </section>
</section>