<section class="message">
    <img src="{{messageUser.profileImage}}" alt="profile-image">

    <div class="message-info">
        <div class="message-user">
            <span class="message-user-name" (click)="openProfile()">{{messageUser.name}}</span>

            <span class="message-time">{{formattedTime}} Uhr</span>

        </div>
        <span class="message-text">{{currentMessage.text}}</span>
        <div class="message-answer">
            <button class="message-answer-button" [routerLink]="['threads', currentMessage.uid]"
                (click)="threadService.openThread()">
                {{allThreads.length}}
                Antworten</button>
            <span class="message-time">Letzte Antwort 14:56 Uhr</span>
        </div>
    </div>

    <div class="message-bar">
        <div class="message-icon emoji-icon">
            <img src="./../../../assets/img/icons/material-symbols/emoji-check.svg" alt="check emoji">
        </div>
        <div class="message-icon emoji-icon">
            <img src="./../../../assets/img/icons/material-symbols/emoji-hands.svg" alt="hands emoji">
        </div>
        <div class="emoji-container">
            <button class="message-icon reaction-icon" (click)="isEmojiPickerVisible = !isEmojiPickerVisible"></button>
            <emoji-mart class="emoji-mart emoji-mart-message-left" *ngIf="isEmojiPickerVisible"
                (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
        </div>
        <div class="message-icon thread-icon" [routerLink]="['threads', currentMessage.uid]"
            (click)="threadService.openThread()"></div>
    </div>
</section>