<div class="frame">
    <textarea name="message" id="message"></textarea>
    <div class="tools">
        <div>
            <img src="/assets/img/icons/material-symbols/add.png" alt="upload" class="icon">
            <div class="bar"></div>
            <img src="/assets/img/icons/emoji-menu.svg" alt="emoji" class="icon">
            <img src="/assets/img/icons/tag-user.svg" alt="tag-user" class="icon">
        </div>
        <img src="/assets/img/icons/send-message.svg" alt="send-message" class="send-arrow">
    </div>
</div>
