@import "./../../../styles.scss";

.dropdown-btn {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  @include dFlex(space-between, center, 0);
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  &:hover {
    color: #535af1;
  }
}

.dropdown-container {
  background-color: #ffffff;
  padding-left: 8px;
}

.dropdown-content {
  display: column;
  justify-content: center;
}

.dropdown-left {
  @include dFlex(flex-start, center, 0);
}

.dropdown-text-channel {
  background-image: url("./../../../assets/img/icons/material-symbols/workspaces.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 24px 24px;
  padding: 10px 10px 10px 40px;
}

.dropdown-icon-channel {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/img/icons/material-symbols/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  rotate: -90deg;
  transition: 0.125s ease-in-out;
}

.dropdown-btn:hover .dropdown-icon-channel {
  background-image: url("../../../assets/img/icons/material-symbols/arrow-drop-down-hover.svg");
}

.dropdown-btn:hover .dropdown-text-channel {
  background-image: url("./../../../assets/img/icons/material-symbols/workspaces-hover.svg");
}

.rotate-down {
  rotate: 0deg;
  transition: 0.125s ease-in-out;
}

.add-channel {
  background-color: unset;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../../../assets/img/icons/material-symbols/add.svg");

  cursor: pointer;

  &:hover {
    background-image: url("../../../assets/img/icons/material-symbols/add-hover.svg");
  }
}

table {
  width: 100%;
  height: fit-content;

  border-collapse: collapse;
  tbody {
    width: 100%;
    height: fit-content;
    tr {
      width: 100%;
      background-color: white;

      cursor: pointer;
      margin-top: 12px;
      td {
        @include dFlex(flex-start, center, 0);
        padding-left: 40px;
        height: 35px;
      }

      &:hover td {
        border-radius: 20px;
        background-color: $bgColor;
        color: $purple1;
      }

      &:hover .tag {
        background-image: url("./../../../assets/img/icons/material-symbols/tag-hover.svg");
      }
    }

    th {
      color: rgba(0, 0, 0, 0.4);
      font-size: 14px;
      font-weight: 500;
      text-align: start;
    }

    tr:last-child {
      &:hover td {
        border-radius: 20px;
        background-color: white;
        color: $purple1;
      }

      &:hover .add-circle {
        background-image: url("./../../../assets/img/icons/material-symbols/add_circle-hover.svg");
      }
    }
  }
}

.add-circle {
  width: 22px;
  height: 22px;
  background-image: url("./../../../assets/img/icons/material-symbols/add_circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  margin-right: 8px;
}

.tag {
  width: 22px;
  height: 22px;
  background-image: url("./../../../assets/img/icons/material-symbols/tag.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  margin-right: 8px;
}

.bold {
  font-weight: bold;
  margin-right: 8px;
}
