@import "./../../../styles.scss";
@import "./../../scss/responsive.scss";

.dropdown-btn {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  @include dFlex(space-between, center, 0);
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding: 0;
  padding-right: 10px;

  &:hover {
    color: #535af1;
  }
}

.dropdown-container {
  @include dFlex($g: 20px, $ai: flex-start);
  flex-direction: column;
  padding-block: 20px;
}

.channel-container {
  @include dFlex(flex-start, flex-start, $g: 13px);
  box-sizing: border-box;
  margin-left: 27px;
  flex-direction: column;
}

.channel-nav-name {
  margin-left: 10px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel {
  // width: 90%;
  @include dFlex($g: 10px, $jc: flex-start);
  gap: 0;
  padding: 4px 10px 4px 0px;
  box-sizing: border-box;
  border-radius: 20px;
  @include font($ff: NunitoRegular, $fs: 16px, $lh: 20px);
  .tag {
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: $bgColor;

    .tag {
      background-image: url("./../../../assets/img/icons/material-symbols/tag-hover.svg");
    }
  }

  &:active {
    cursor: pointer;
    background-color: $bgColor;
    @include font($ff: Nunito700, $fs: 16px, $lh: 20px);
    color: $purple3;

    .tag {
      background-image: url("./../../../assets/img/icons/material-symbols/tag-hover.svg");
    }
  }
}

.dropdown-left {
  @include dFlex(flex-start, center, 15px);
}

.dropdown-title {
  @include dFlex($g: 10px);
  @include font($ff: Nunito700, $fs: 20px, $lh: 27.28px);
}

.workspace-icon {
  background-image: url("./../../../assets/img/icons/material-symbols/workspaces.svg");
  width: 24px;
  height: 24px;
  background-size: cover;
}

.dropdown-icon-channel {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/img/icons/material-symbols/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  rotate: -90deg;
  transition: 0.125s ease-in-out;
}

.dropdown-btn:hover .dropdown-icon-channel {
  background-image: url("../../../assets/img/icons/material-symbols/arrow-drop-down-hover.svg");
}

.dropdown-btn:hover .workspace-icon {
  background-image: url("./../../../assets/img/icons/material-symbols/workspaces-hover.svg");
}

.rotate-down {
  rotate: 0deg;
  transition: 0.125s ease-in-out;
}

.add-channel {
  background-color: unset;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../../../assets/img/icons/material-symbols/add.svg");

  cursor: pointer;

  &:hover {
    background-image: url("../../../assets/img/icons/material-symbols/add-hover.svg");
  }
}

.tag {
  width: 24px;
  height: 24px;
  background-image: url("./../../../assets/img/icons/material-symbols/tag.svg");
}

.bold {
  font-weight: bold;
  margin-right: 8px;
}

.add-channel-dropdown {
  @include dFlex($g: 10px, $jc: flex-start);
  padding: 4px 40px 4px 40px;
  @include font($ff: NunitoRegular, $fs: 16px, $lh: 20px);

  &:hover {
    cursor: pointer;
    color: $purple3;

    .add-circle {
      background-image: url("./../../../assets/img/icons/material-symbols/add_circle-hover.svg");
    }
  }

  &:active {
    .add-circle {
      background-image: url("./../../../assets/img/icons/material-symbols/add_circle-active.svg");
    }
  }
}

.add-circle {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("./../../../assets/img/icons/material-symbols/add_circle.svg");
}
