<button (click)="filtering = !filtering" id="dropdown-btn" class="dropdown-btn">
  <div class="dropdown-left">
    <div id="dropdown-icon" class="dropdown-icon-channel rotate-down">
    </div>
    <div class="dropdown-text-channel">
      Channels
    </div>
  </div>
  <button class="add-channel" (click)="createChannel()"></button>
</button>

@if(filtering) {
<div id="dropdown-container" class="dropdown-container">
  <div class="dropdown-content">
    <table class="channel-table">
      <tbody>
        @for(channel of allChannels; track channel) {
        <tr [routerLink]="['channels']">
          <td>
            <div class="bold">#</div> {{ channel.name }}
          </td>
        </tr>
        }
        <tr>
          <td>
            <div class="add-circle"></div> Channel hinzufügen
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
}