<button (click)="filtering = !filtering" id="dropdown-btn" class="dropdown-btn">
  <div id="dropdown-icon" class="dropdown-icon-channel rotate-down">
  </div>
  <div class="dropdown-text-channel">
    Channels
  </div>
  <div><button class="add-channel" (click)="createChannel()"></button></div>
</button>

@if(filtering) {
<div id="dropdown-container" class="dropdown-container">
  <div class="dropdown-content">
    <table class="user-table">
      <tbody>

        <div [routerLink]="['channels']">link to channel</div>
        @for(channel of allChannels; track channel) {
        <div>
          {{ channel.name }}
        </div>
        }
      </tbody>
    </table>
  </div>
</div>
}