<div class="container">
  <div class="content">
    <div class="content-tab">
      <div class="content-left">
        <div class="tag"></div>
        <h2>{{channel.name}}</h2>
      </div>
      <div class="card-close" (click)="close()"></div>
    </div>
    <div>
      <div class="channel-info-name">
        <div class="content-tab">
          <h3>Channel Name</h3>
          <div class="">Bearbeiten</div>
        </div>
        {{channel.name}}
      </div>
      <div class="channel-info-description">
        <div class="content-tab">
          <h3>Beschreibung</h3>
          <div class="">Bearbeiten</div>
        </div>
        {{channel.description}}
        <h3>Erstellt von</h3>
        {{channelCreatedBy.name}}
      </div>

    </div>
    <div class="button-container" (click)="leaveChannel()">Channel verlassen</div>
  </div>
</div>