@import "./../../../../styles.scss";
@import "./../../../scss/main-style.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $fullSizeColor;
  z-index: 999;
  @include dFlex(center, flex-start, 0);
}

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  @include dFlex(center, center, 0);
}

.content {
  @include fullSizeCard(800px, fit-content, 0px, 30px, 30px, 30px);
  @include dFlex(space-between, space-between, 0);
  flex-direction: column;
  min-height: 600px;
  background-color: white;
}

.content-left {
  @include dFlex(flex-start, flex-start, 0);
}

.content-line {
  height: 1px;
  width: 100%;
  background-color: $lightPurple;
}

h2 {
  margin: 0px;
}

@keyframes hideBorder {
  from {
    border: 1px solid $lightPurple;
  }

  to {
    border: none;
    padding: 0;
  }
}

@keyframes showBorder {
  from {
    border: none;
    padding: 0;
  }

  to {
    border: 1px solid $lightPurple;
    padding: 20px;
  }
}

.channel-info-name,
.channel-info-description {
  border: 1px solid $lightPurple;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.channel-info-name {
  height: 110px;
}

.channel-info-description {
  height: 300px;
}

.show-border {
  animation: showBorder 0.1s forwards;
}

.hide-border {
  animation: hideBorder 0.1s forwards;
}

.channel-creator {
  font-size: 24px;
  color: $purple3;
}

.button-primary {
  width: 200px;
}
