// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dabubble-primary: mat.define-palette(mat.$indigo-palette);
$dabubble-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dabubble-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dabubble-theme: mat.define-light-theme(
  (
    color: (
      primary: $dabubble-primary,
      accent: $dabubble-accent,
      warn: $dabubble-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dabubble-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: NunitoRegular;
  src: url("./assets/fonts/nunito-v26-latin-regular.woff2");
}

@font-face {
  font-family: Nunito500;
  src: url("./assets/fonts/nunito-v26-latin-500.woff2");
}

@font-face {
  font-family: Nunito600;
  src: url("./assets/fonts/nunito-v26-latin-600.woff2");
}

@font-face {
  font-family: Nunito700;
  src: url("./assets/fonts/nunito-v26-latin-700.woff2");
}

$bgColor: rgb(236, 239, 254);
$lightPurple: rgb(173, 176, 217);
$textGray: rgb(104, 104, 104);
$purple1: rgb(68, 77, 242);
$purple2: rgb(121, 127, 243);
$purple3: rgb(83, 90, 241);
$onlineGreen: rgb(146, 200, 62);
$rosaError: rgb(237, 30, 121);

@mixin dFlex($jc: center, $ai: center, $g: 0){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin font($ff: Nunito700, $fs: 18px, $lh: 24.55px){
  font-family: $ff;
  font-size: $fs;
  line-height: $lh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: NunitoRegular, sans-serif;
}

h2 {
  font-size: 24px;
  font-family: Nunito700, sans-serif;
}

h3 {
  font-size: 20px;
  font-family: Nunito700, sans-serif;
}

.hidden {
  display: none;
}

.button-primary{
  background-color: $purple1;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 25px 12px 25px;
  @include dFlex($g: 10px);
  @include font();

  &:hover{
    cursor: pointer;
    background-color: $purple2;
  }

  &:disabled{
    cursor: default;
    background-color: $textGray;
  }
}

.button-secondary{
  color: $purple1;
  border: 1px solid $purple2;
  border-radius: 25px;
  padding: 12px 25px 12px 25px;
  background-color: white;
  @include font();
  background-color: unset;

  &:hover{
    cursor: pointer;
    background-color: $purple3;
    color: white;
    border: 1px solid $purple3;
  }

  &:active{
    background-color: $purple1;
    border: 1px solid $purple1;
  }

  &:disabled{
    cursor: default;
    border: 1px solid $textGray;
    color: $textGray;
    background-color: unset;
  }
}