<div class="container">
  <app-header></app-header>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer mode="side" [opened]="true">
      <section class="sidenav-container">
        <div class="sidenav">
          <div class="logo-container">
            <h2>This is logo contianer</h2>
            Hello lets check if nunito worked
            <h3>Lets check</h3>
          </div>
          <ul class="menu-item">
            <button mat-icon-button (click)="drawer.toggle()">
              <mat-icon class="menu-icon">menu</mat-icon>
            </button>
            <button (click)="addUser()">Add User</button>
            <app-channel-nav></app-channel-nav>
            <app-direct-nav></app-direct-nav>
          </ul>
        </div>
      </section>
    </mat-drawer>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

</div>
<app-channel-create id="channel-create" class="hidden"></app-channel-create>