<div class="main-page">


  <app-header></app-header>

  <div class="main-container">

    <div class="navigation-bar" (click)="toggleMenu()">
      @if (menuOpen) {
      <div class="navbar-open-icon"></div>
      <span class="navbar-text">Workspace-Menü schließen</span>
      }
      @if (!menuOpen) {
      <div class="navbar-closed-icon"></div>
      <span class="navbar-text">Workspace-Menü öffnen</span>
      }
    </div>

    <div [class]="menuOpen? 'main-menu container' : 'hidden'">
      <div class="menu-header">
        <div class="menu-header-logo">
          <img src="./assets/img/logo/workspace_logo.svg" alt="logo">
          <h2>Devspace</h2>
        </div>
        <div [routerLink]="['newMessage']" class="menu-header-message"></div>
      </div>

      <div class="menu-nav">
        <app-channel-nav [style]="'width: 100%'"></app-channel-nav>
        <app-direct-nav [style]="'width: 100%'"></app-direct-nav>
      </div>
    </div>

    <div class="main-chat-container container">
      <router-outlet></router-outlet>
    </div>

    <div [class]="threadService.threadIsOpen? 'thread-container container' : 'hidden'">
      <router-outlet name="thread"></router-outlet>
    </div>
  </div>

</div>

@if (profileService.profileIsOpen) {
<app-profile-user></app-profile-user>
}

@if (profileService.editProfilePicIsOpen) {
<app-profile-edit-picture></app-profile-edit-picture>
}

<app-channel-create id="channel-create" class="hidden"></app-channel-create>