@import './../../../styles.scss';

.main-page {
  width: 100vw;
  height: 100vh;
  background-color: $bgColor;
  @include dFlex($jc: flex-start);
  flex-direction: column;
}

.main-container {
  width: 100%;
  max-width: 1920px;
  height: calc(100% - 90px);
  @include dFlex($jc: start, $ai: start, $g: 20px);
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 32px 30px 32px 30px;
  box-sizing: border-box;
}

.main-menu {
  max-width: 350px;
  @include dFlex($jc: flex-start, $g: 15px);
  flex-direction: column;
}

.menu-header {
  width: 100%;
  @include dFlex($jc: space-between);

  .menu-header-logo {
    @include dFlex($g: 15px);

    >img{
      height: 50px;
      width: 50px;
    }

    >h2{
      margin: 0;
    }
  }

  .menu-header-message {
    background-image: url('./../../../assets/img/icons/material-symbols/edit-square.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;

    &:hover{
      cursor: pointer;
      background-image: url('./../../../assets/img/icons/material-symbols/edit-square-hover.svg');
    }
  }
}

.menu-nav {
  width: 100%;
  @include dFlex($ai: flex-start, $jc: flex-start, $g: 20px);
  flex-direction: column;
  overflow: scroll;
}

